{% load static %}
<html>
    <head>
        <title>ñliz canan alheraki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <meta charset="utf-8" >
        <link rel="icon" href="{% static 'images/2.png' %}">
        {% include "css.html" %}
    </head>
    <body>
        <div class="container">
        
        <button id="scrollUp">
        <i class="fas fa-arrow-up"></i>
        </button>
                
        <div class="head-nav">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container">
                      <a class="navbar-brand" href="/"><img src="{% static 'images/1.jpeg' %}" width="325px"height="100px"></a>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item li">
                                 <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                          </li>
                        </ul>
                </div>
            </nav>        
        </div>
        <hr>
             <div class="head-nav ">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollabse" aria-controls="navCollabse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navCollabse">
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:galerie' %}">Galerie</a>
							</li><li class="nav-item active">
                            <a class="nav-link" href="{% url 'main:about' %}">über mich</a>
                          </li><li class="nav-item ">
                            <a class="nav-link" href="{% url 'main:contact' %}">Kontakt</a>
                          </li><li class="nav-item">
                            <a class="nav-link" href="{% url 'main:impressum' %}">Impressum</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>        
        </div>
<hr>
        <h1> Herzlich Willkommen auf <br>meiner Website </h1>
            <hr>
        <div class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                   <img src="{% static 'images/2.png' %}" width="100%">
                    </div>
                    <div class="col-md-6">
                         <h2> über mich</h2>
                        <p class="lead">
                           
                      über mich 

Studium 
    • Bachelor of Arts: „Sozialwissenschaften Interkulturelle Beziehungen“ Hochschule Fulda
Schwerpunkte & Forschungen: Migration & Integration; Institutioneller Rassismus
    • Master of Arts: „Bildungswissenschaften“ Leibniz Universität Hannover
Schwerpunkte & Forschungen: Interkulturelle Bildung & Kulturelle Bildung (Tanz)
    • Auslandssemester: Marmara Universität Istanbul, Türkei (Erasmus)
Forschungen:  Türkei & Europa

Aus- und Weiterbildung
    • Coaching Ausbildung (IHK)
    • Deutsch als Zweitsprache Zusatzqualifikation
    • Internationales Flüchtlingsrecht
    • Bildungsaufenthalte zum Thema Flucht in Jordanien, der Türkei & in Schweden
Stationen
Lehre & Bildung
    • ZQS Leibniz Universität Hannover
Seminarleitung: Diversität & Interkulturelle Kompetenzen; Selbstkompetenzen
    • KIWI Projekt von Care Deutschland
Fortbildungen für Lehrkräfte und Workshops für Schüler:innen zu den Themen zu den Identität & Zugehörigkeit, Flucht & Migration, Vielfalt, Vorurteilsbewusstsein & Antidiskriminierung & Empowerment
    • Dialog macht Schule
Politische Jugendbildungsreferentin
    • Dozentin für Integrations- & Orientierungskurse
Pädagogik & Beratung
    • Asylsozialberatung, Migrationsberatung
    • Ehrenamtskoordination
    • Jugendreiseleitung & -betreuung
    • Interkulturelle Projektentwicklung und -durchführung 
Tanzpädagogik
    • Projektdurchführung: Urban Dance Summer School, VNB Hannover
    • Projektinitiierung & -durchführung: Innerbloomprojekt, Hannover
    • Projektinitiierung & -durchführung: DancingQueens Hannover: Tanzprojekt für Frauen ohne Deutschkenntnisse 
    • Workshops: „Mädchen in Bewegung“, Stadt Hannover
                        </p>
					               
                    </div>
                </div>
            
            </div>
        
        </div>
		<hr>
            
        <!--Start Sign In-->
            <div class="signin" id="sign">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>ABONNIEREN SIE UNSEREN NEWSLETTER NEWSLETTER</h4>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#"><button>NEWSLETTER</button></a>
                        </div>
                    </div>
                </div>
            </div>
        <!--End Sign In-->
        <hr>
       
        <!--Start Footer-->
            <div class="footer" >
                <div class="container">
                    <div class="row">
                         <div class ="col-md-4">
                            <h2>KONTAKT</h2>
                             <p class="lead">Hannoverche str , 30627 Hannover . 015752173005</p>
                           <a><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class ="col-md-4">
                            <h1>ANFAHRT</h1>
                          <div class="mapouter"><div class="gmap_canvas"><iframe width="333" height="197" id="gmap_canvas" src="https://www.google.com/maps/embed?" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:197px;width:333px;}</style><a href="https://www.embedgooglemap.net">embedding maps</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:197px;width:333px;}</style></div></div>
                        </div>
                      
                     <div class ="col-md-4">
                            <h2>Öffnungszeiten</h2>
                            <ul>
                                <li><a href="/"><i class="fas fa-chevron-right"></i> MO - FR</a></li>
                                <li><a href="#about"><i class="fas fa-chevron-right"></i> SA-SO</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!--End  Footer-->
         </div>
        <!--Start Adding Script Files-->
        {% include "js.html" %}
      </script>
           
    </body>
</html>